<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="password.component.css">
    <title>Password Strength Test</title>
</head>
<body>
    <div class="container">
        <label for="password">Enter Password:</label>
        <input type="password" id="password" [(ngModel)]="password" (input)="checkPasswordStrength()"/>
        <div id="strength"></div>
    </div>
    <div id="strength" [style.color]="passwordStrengthColor()">
        {{ passwordStrength }}
      </div>
    <script src="script.js"></script>
</body>
</html>
